<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
  </ol>
</div>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to our website for orders!</h1>
    <p>You can click on the button below to go to editing products in your order</p>
    <%= link_to 'List of products', products_path, :class=>"btn btn-primary btn-lg" %>
  </div>
</div>

